.child{
    background-color: crimson;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
}